{% extends 'base.html.twig' %}

{% block title %}Home!{% endblock %}

{% block body %}


{# section banner #}
<section class="banner-area">
  <div class="row banner-img">
    <div class="col">
    </div>
    <div class="col">
      <p class="banner-description">BooksAddict votre bibliothéque en ligne !</p>
    </div>
  </div>
  <div class="row row-services">
    <div class="d-flex justify-content-center services">
        <div class="p-2 bd-highlight d-flex justify-content-center service">
            <p class="p-2 bd-highlight align-self-center">Créer vos catégories pour classer vos livres</p>
        </div>
        <div class="p-2 bd-highlight d-flex justify-content-center service">
            <p class="p-2 bd-highlight align-self-center">Créer vos catégories pour classer vos livres</p>
        </div>
        <div class="p-2 bd-highlight d-flex justify-content-center service">
            <p class="p-2 bd-highlight align-self-center">Créer vos catégories pour classer vos livres</p>
        </div>
        <div class="p-2 bd-highlight d-flex justify-content-center service">
            <p class="p-2 bd-highlight align-self-center">Créer vos catégories pour classer vos livres</p>
        </div>
    </div>
  </div>
</section>

{# section new Books #}
<section class="publishing">
    <div class=""></div>
</section>


{% endblock %}
